@charset "UTF-8";
@font-face {
  font-family: "Timos-Icons";
  src: url("fonts/Timos-Icons.eot?9a32fg");
  src: url("fonts/Timos-Icons.eot?9a32fg#iefix") format("embedded-opentype"),
    url("fonts/Timos-Icons.ttf?9a32fg") format("truetype"),
    url("fonts/Timos-Icons.woff?9a32fg") format("woff"),
    url("fonts/Timos-Icons.svg?9a32fg#Timos-Icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ti-"],
[class*=" ti-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Timos-Icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ti-add:before {
  content: "";
  opacity: 0.5;
}

.ti-add::after {
  content: "";
  margin-left: -1em;
}

.ti-arrow--up:before {
  content: "";
}

.ti-arrow-down:before {
  content: "";
}

.ti-arrow-down-left:before {
  content: "";
}

.ti-arrow-down-right:before {
  content: "";
}

.ti-arrow-left:before {
  content: "";
}

.ti-arrow-right:before {
  content: "";
}

.ti-arrow-up-left:before {
  content: "";
}

.ti-arrow-up-right:before {
  content: "";
}

.ti-at:before {
  content: "";
}

.ti-book:before {
  content: "";
  opacity: 0.33;
}

.ti-book::after {
  content: "";
  margin-left: -1em;
}

.ti-book-p:before {
  content: "";
  opacity: 0.33;
}

.ti-book-p::after {
  content: "";
  margin-left: -1em;
}

.ti-book-q:before {
  content: "";
  opacity: 0.33;
}

.ti-book-q::after {
  content: "";
  margin-left: -1em;
}

.ti-checkmark-circle:before {
  content: "";
  opacity: 0.33;
}

.ti-checkmark-circle::after {
  content: "";
  margin-left: -1em;
}

.ti-checkmarks:before {
  content: "";
}

.ti-checkmarks::after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-cross:before {
  content: "";
}

.ti-cross-circle:before {
  content: "";
  opacity: 0.33;
}

.ti-cross-circle::after {
  content: "";
  margin-left: -1em;
}

.ti-dots:before {
  content: "";
}

.ti-double-arrow-down:before {
  content: "";
}

.ti-double-arrow-left:before {
  content: "";
}

.ti-double-arrow-right:before {
  content: "";
}

.ti-double-arrow-up:before {
  content: "";
}

.ti-farm:before {
  content: "";
}

.ti-gears:before {
  content: "";
}

.ti-gears::after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-hashtag:before {
  content: "";
}

.ti-heart:before {
  content: "";
}

.ti-house:before {
  content: "";
  opacity: 0.5;
}

.ti-house::after {
  content: "";
  margin-left: -1em;
}

.ti-i-circle:before {
  content: "";
}

.ti-i-circle::after {
  content: "";
  margin-left: -1em;
  opacity: 0.33;
}

.ti-lens:before {
  content: "";
  opacity: 0.5;
}

.ti-lens::after {
  content: "";
  margin-left: -1em;
}

.ti-list:before {
  content: "";
}

.ti-list-bullet:before {
  content: "";
}

.ti-list-bullet::after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-list-check:before {
  content: "";
}

.ti-login:before {
  content: "";
  opacity: 0.5;
}

.ti-login::after {
  content: "";
  margin-left: -1em;
}

.ti-logout:before {
  content: "";
  opacity: 0.5;
}

.ti-logout::after {
  content: "";
  margin-left: -1em;
}

.ti-moped-license-plate:before {
  content: "";
}

.ti-offer:before {
  content: "";
}

.ti-pencil:before {
  content: "";
}

.ti-questionmark:before {
  content: "";
}

.ti-questionmark::after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-reply:before {
  content: "";
}

.ti-save:before {
  content: "";
}

.ti-save::after {
  content: "";
  margin-left: -1em;
}

.ti-server:before {
  content: "";
}

.ti-share:before {
  content: "";
  opacity: 0.5;
}

.ti-share::after {
  content: "";
  margin-left: -1em;
}

.ti-stars:before {
  content: "";
}

.ti-stars::after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-thunder:before {
  content: "";
}

.ti-todo:before {
  content: "";
}

.ti-tools:before {
  content: "";
}

.ti-trashcan:before {
  content: "";
  opacity: 0.5;
}

.ti-trashcan::after {
  content: "";
  margin-left: -1em;
}

.ti-user:before {
  content: "";
}

.ti-user-active:before {
  content: "";
}

.ti-user-active::after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-user-card:before {
  content: "";
  opacity: 0.66;
}

.ti-user-card::after {
  content: "";
  margin-left: -1em;
}

.ti-user-inactive:before {
  content: "";
}

.ti-user-inactive::after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}

.ti-users:before {
  content: "";
}

.ti-users::after {
  content: "";
  margin-left: -1em;
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */
