@import "../../../scss/variables";

@mixin select {
  background: $paragraph;
  border-radius: $border-radius;
  display: inline-block;
  user-select: none;
  transition: 0.2s ease-in-out;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;

  &:hover {
    border-color: rgba($color, 0.4);
  }
}
