$icomoon-font-family: "Timos-Icons" !default;
$icomoon-font-path: "fonts" !default;

$ti-search-path1: "\e900";
$ti-search-path2: "\e901";
$ti-add-path1: "\e902";
$ti-add-path2: "\e903";
$ti-admin-path1: "\e904";
$ti-admin-path2: "\e905";
$ti-admin-path3: "\e906";
$ti-arrow: "\e907";
$ti-at: "\e908";
$ti-book-path1: "\e909";
$ti-book-path2: "\e90a";
$ti-delete-path1: "\e90b";
$ti-delete-path2: "\e90c";
$ti-delete-path3: "\e90d";
$ti-dislike: "\e90e";
$ti-error-path1: "\e90f";
$ti-error-path2: "\e910";
$ti-error-path3: "\e911";
$ti-error-path4: "\e912";
$ti-feedback: "\e913";
$ti-hashtag: "\e914";
$ti-home-path1: "\e915";
$ti-home-path2: "\e916";
$ti-info-path1: "\e917";
$ti-info-path2: "\e918";
$ti-info-path3: "\e919";
$ti-info-path4: "\e91a";
$ti-info-path5: "\e91b";
$ti-info-path6: "\e91c";
$ti-like: "\e91d";
$ti-list-path1: "\e91e";
$ti-list-path2: "\e91f";
$ti-list-path3: "\e920";
$ti-list-path4: "\e921";
$ti-list-path5: "\e922";
$ti-list-path6: "\e923";
$ti-login-path1: "\e924";
$ti-login-path2: "\e925";
$ti-logout-path1: "\e926";
$ti-logout-path2: "\e927";
$ti-nav-placeholder-path1: "\e928";
$ti-nav-placeholder-path2: "\e929";
$ti-nav-placeholder-path3: "\e92a";
$ti-nav-placeholder-path4: "\e92b";
$ti-nav-placeholder-path5: "\e92c";
$ti-nav-placeholder-path6: "\e92d";
$ti-nav-placeholder-path7: "\e92e";
$ti-nav-placeholder-path8: "\e92f";
$ti-nav-placeholder-path9: "\e930";
$ti-questionmark: "\e931";
$ti-rating-path1: "\e932";
$ti-rating-path2: "\e933";
$ti-rating-path3: "\e934";
$ti-rating-path4: "\e935";
$ti-rating-path5: "\e936";
$ti-remove: "\e937";
$ti-reply: "\e938";
$ti-review-path1: "\e939";
$ti-review-path2: "\e93a";
$ti-save-path1: "\e93b";
$ti-save-path2: "\e93c";
$ti-save-path3: "\e93d";
$ti-share-path1: "\e93e";
$ti-share-path2: "\e93f";
$ti-success-path1: "\e940";
$ti-success-path2: "\e941";
$ti-success-path3: "\e942";
$ti-success-path4: "\e943";
$ti-user: "\e944";
$ti-user-active-path1: "\e945";
$ti-user-active-path2: "\e946";
$ti-user-card-path1: "\e947";
$ti-user-card-path2: "\e948";
$ti-user-inactive-path1: "\e949";
$ti-user-inactive-path2: "\e94a";
$ti-users-path1: "\e94b";
$ti-users-path2: "\e94c";
$ti-users-path3: "\e94d";
