$color: #111;
$background: #fff;
$paragraph: #f0f0f0;
$primary: #0088ff;
$error: #ff4757;
$success: #25ca49;
$alarm: #f1c40f;

$color_colors: (
    primary: $primary,
    error: $error,
    success: $success,
    alarm: $alarm,
);
