@import "variables";

@font-face {
  font-family: "#{$icomoon-font-family}";
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?9a32fg");
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?9a32fg#iefix")
      format("embedded-opentype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?9a32fg")
      format("truetype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?9a32fg")
      format("woff"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?9a32fg##{$icomoon-font-family}")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ti-"],
[class*=" ti-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$icomoon-font-family}" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ti-add {
  &:before {
    content: $ti-add-path1;
    opacity: 0.5;
  }
  &::after {
    content: $ti-add-path2;
    margin-left: -1em;
  }
}
.ti-arrow--up {
  &:before {
    content: $ti-arrow--up;
  }
}
.ti-arrow-down {
  &:before {
    content: $ti-arrow-down;
  }
}
.ti-arrow-down-left {
  &:before {
    content: $ti-arrow-down-left;
  }
}
.ti-arrow-down-right {
  &:before {
    content: $ti-arrow-down-right;
  }
}
.ti-arrow-left {
  &:before {
    content: $ti-arrow-left;
  }
}
.ti-arrow-right {
  &:before {
    content: $ti-arrow-right;
  }
}
.ti-arrow-up-left {
  &:before {
    content: $ti-arrow-up-left;
  }
}
.ti-arrow-up-right {
  &:before {
    content: $ti-arrow-up-right;
  }
}
.ti-at {
  &:before {
    content: $ti-at;
  }
}
.ti-book {
  &:before {
    content: $ti-book-path1;
    opacity: 0.33;
  }
  &::after {
    content: $ti-book-path2;
    margin-left: -1em;
  }
}
.ti-book-p {
  &:before {
    content: $ti-book-p-path1;
    opacity: 0.33;
  }
  &::after {
    content: $ti-book-p-path2;
    margin-left: -1em;
  }
}
.ti-book-q {
  &:before {
    content: $ti-book-q-path1;
    opacity: 0.33;
  }
  &::after {
    content: $ti-book-q-path2;
    margin-left: -1em;
  }
}
.ti-checkmark-circle {
  &:before {
    content: $ti-checkmark-circle-path1;

    opacity: 0.33;
  }
  &::after {
    content: $ti-checkmark-circle-path2;
    margin-left: -1em;
  }
}
.ti-checkmarks {
  &:before {
    content: $ti-checkmarks-path1;
  }
  &::after {
    content: $ti-checkmarks-path2;
    margin-left: -1em;

    opacity: 0.5;
  }
}
.ti-cross {
  &:before {
    content: $ti-cross;
  }
}
.ti-cross-circle {
  &:before {
    content: $ti-cross-circle-path1;

    opacity: 0.33;
  }
  &::after {
    content: $ti-cross-circle-path2;
    margin-left: -1em;
  }
}
.ti-dots {
  &:before {
    content: $ti-dots;
  }
}
.ti-double-arrow-down {
  &:before {
    content: $ti-double-arrow-down;
  }
}
.ti-double-arrow-left {
  &:before {
    content: $ti-double-arrow-left;
  }
}
.ti-double-arrow-right {
  &:before {
    content: $ti-double-arrow-right;
  }
}
.ti-double-arrow-up {
  &:before {
    content: $ti-double-arrow-up;
  }
}
.ti-farm {
  &:before {
    content: $ti-farm;
  }
}
.ti-gears {
  &:before {
    content: $ti-gears-path1;
  }
  &::after {
    content: $ti-gears-path2;
    margin-left: -1em;

    opacity: 0.5;
  }
}
.ti-hashtag {
  &:before {
    content: $ti-hashtag;
  }
}
.ti-heart {
  &:before {
    content: $ti-heart;
  }
}
.ti-house {
  &:before {
    content: $ti-house-path1;

    opacity: 0.5;
  }
  &::after {
    content: $ti-house-path2;
    margin-left: -1em;
  }
}
.ti-i-circle {
  &:before {
    content: $ti-i-circle-path1;
  }
  &::after {
    content: $ti-i-circle-path2;
    margin-left: -1em;

    opacity: 0.33;
  }
}
.ti-lens {
  &:before {
    content: $ti-lens-path1;

    opacity: 0.5;
  }
  &::after {
    content: $ti-lens-path2;
    margin-left: -1em;
  }
}
.ti-list {
  &:before {
    content: $ti-list;
  }
}
.ti-list-bullet {
  &:before {
    content: $ti-list-bullet-path1;
  }
  &::after {
    content: $ti-list-bullet-path2;
    margin-left: -1em;

    opacity: 0.5;
  }
}
.ti-list-check {
  &:before {
    content: $ti-list-check;
  }
}
.ti-login {
  &:before {
    content: $ti-login-path1;

    opacity: 0.5;
  }
  &::after {
    content: $ti-login-path2;
    margin-left: -1em;
  }
}
.ti-logout {
  &:before {
    content: $ti-logout-path1;

    opacity: 0.5;
  }
  &::after {
    content: $ti-logout-path2;
    margin-left: -1em;
  }
}
.ti-moped-license-plate {
  &:before {
    content: $ti-moped-license-plate;
  }
}
.ti-offer {
  &:before {
    content: $ti-offer;
  }
}
.ti-pencil {
  &:before {
    content: $ti-pencil;
  }
}
.ti-questionmark {
  &:before {
    content: $ti-questionmark-path1;
  }
  &::after {
    content: $ti-questionmark-path2;
    margin-left: -1em;

    opacity: 0.5;
  }
}
.ti-reply {
  &:before {
    content: $ti-reply;
  }
}
.ti-save {
  &:before {
    content: $ti-save-path1;
  }
  &::after {
    content: $ti-save-path2;
    margin-left: -1em;
  }
}
.ti-server {
  &:before {
    content: $ti-server;
  }
}
.ti-share {
  &:before {
    content: $ti-share-path1;

    opacity: 0.5;
  }
  &::after {
    content: $ti-share-path2;
    margin-left: -1em;
  }
}
.ti-stars {
  &:before {
    content: $ti-stars-path1;
  }
  &::after {
    content: $ti-stars-path2;
    margin-left: -1em;

    opacity: 0.5;
  }
}
.ti-thunder {
  &:before {
    content: $ti-thunder;
  }
}
.ti-todo {
  &:before {
    content: $ti-todo;
  }
}
.ti-tools {
  &:before {
    content: $ti-tools;
  }
}
.ti-trashcan {
  &:before {
    content: $ti-trashcan-path1;

    opacity: 0.5;
  }
  &::after {
    content: $ti-trashcan-path2;
    margin-left: -1em;
  }
}
.ti-user {
  &:before {
    content: $ti-user;
  }
}
.ti-user-active {
  &:before {
    content: $ti-user-active-path1;
  }
  &::after {
    content: $ti-user-active-path2;
    margin-left: -1em;
    opacity: 0.5;
  }
}
.ti-user-card {
  &:before {
    content: $ti-user-card-path1;
    opacity: 0.66;
  }
  &::after {
    content: $ti-user-card-path2;
    margin-left: -1em;
  }
}
.ti-user-inactive {
  &:before {
    content: $ti-user-inactive-path1;
  }
  &::after {
    content: $ti-user-inactive-path2;
    margin-left: -1em;
    opacity: 0.5;
  }
}
.ti-users {
  &:before {
    content: $ti-users-path1;
  }
  &::after {
    content: $ti-users-path2;
    margin-left: -1em;
    opacity: 0.5;
  }
}
